/*logos sosyoftware*/
.logo{
    font-family: 'Black Ops One', cursive;
}
.marca{
    font-family: 'Nunito';
}

  /*boton escribenos*/
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  border-radius:50px;
  text-align:center;
  box-shadow: 3px 3px 3px #f48fb1;
}

.my-float{
    margin-top:22px;
}